<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
        <!-- Bootstrap core CSS -->
        
        <link href="../static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/bootstrap/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
        <script src="../static/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
        <link href="../static/css/main.css" rel="stylesheet">
        <!--<script src="../static/ui-bootstrap-tpls-0.14.3.min.js"></script>-->
        
        <!-- Main javascript file -->
        <script src="{% static "js/app.js" %}" type="text/javascript"></script>
                
        <!-- Controllers -->
        <script src="{% static "js/controllers/mainpage_controller.js" %}" type="text/javascript"></script>
                
    </head>
    <body ng-app="main">
        {% verbatim %}
        <div ng-controller="mainpage_controller">
            <!---carousel of images--->
                <select ng-change="changeImages()" ng-model="selectedName" ng-options="x for x in body_parts">
                </select>
                </br>
                <uib-carousel>
                    <uib-slide ng-repeat="img in current_part" active="img.active">
                        
                        
                        <img class="img-responsive center-block" ng-src="{{img.path}}">
                        
                    </uib-slide>
                
                </uib-carousel>
        
        </br>
        </br>
            <div id="content" class="btn-group">
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'gray'">Gray</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'black'">Black</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'yellow'">Yellow</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'orange'">Orange</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'pink'">Pink</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'red'">Red</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'green'">Green</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'blue'">Blue</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'purple'">Purple</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'brown'">Brown</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'beige'">Beige</label>
                <label class="btn btn-failure" ng-model="radioModel" uib-btn-radio="'white'">White</label>
            </div>
            
        </br>
        <button ng-click="label_image(0)" type="button" class="btn btn-primary">Okay</button>
        <button ng-click="label_image(1)" type="button" class="btn btn-primary">Skip</button>

        </div>

        {% endverbatim %}
        <div ng-view></div>
    
    </body>
</html>