<div class="container">
    <div class="row">
        
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="center-block">
                <button ng-click="logout()" type="button" class="btn btn-warning center-block glyphicon glyphicon-triangle-left" style="width:100%;"
                uib-tooltip="Logout and navigate to the homepage."
                tooltip-placement="top"
                tooltip-trigger="mouseenter"        
                ></button>
            </div>
            
            <div class="panel panel-info">
                <div class="panel-heading text-center">
                    <h3>
                        Welcome to the input view
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        Here the video operator is able to perform a search request for targets that meet a general description. This includes hair, torso and legs colours, start date with a start time and an end date with an end time. When a search finishes the video operator will be redirected to a results page.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" uib-tooltip="Specify head colour."
             tooltip-placement="top"
             tooltip-trigger="mouseenter">Hair color:
                        <select ng-model="hairColor" ng-options="color.name for color in colors_hair">
                            <option value="">----</option>
                        </select>
                    </h3>
                </div>
                <div class="panel-body">
                    <span ng-style="{
                                'color' : hairColor.name,
                                'background-color' : hairColor.name,
                                'padding-right': '100%',
                                'padding-up': '90%'
                                }">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" class="panel-title text-center" uib-tooltip="The colour of the T-shirt or longtop worn by the target."
             tooltip-placement="top"
             tooltip-trigger="mouseenter">Torso color: 
                        <select ng-model="torsoColor" ng-options="color.name for color in colors_torso">
                            <option value="">----</option>
                        </select>
                    </h3>
                </div>
                <div class="panel-body">
                    <span ng-style="{
                                'color' : torsoColor.name,
                                'background-color' : torsoColor.name,
                                'padding-right': '100%',
                                'padding-up': '90%'
                                }">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center" class="panel-title text-center" uib-tooltip="The colour of the pants worn by the target."
             tooltip-placement="top"
             tooltip-trigger="mouseenter">Pants color:
                        <select ng-model="legsColor" ng-options="color.name for color in colors_legs">
                            <option value="">----</option>
                        </select>
                    </h3>
                </div>
                <div class="panel-body">
                    <span ng-style="{
                                'color' : legsColor.name,
                                'background-color' : legsColor.name,
                                'padding-right': '100%',
                                'padding-up': '90%'
                                }">
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="center-block">
                <button id="wtf" type="button" class="btn btn-primary center-block glyphicon glyphicon-calendar" style="width:100%;" ng-click="open_date_modal(1)" class="panel-title text-center" uib-tooltip="Click here to specify a date and time range for the search."
             tooltip-placement="top"
             tooltip-trigger="mouseenter"></button>
            </div>
            </br>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title" uib-tooltip="Choose from the list of cameras available: the SSCP will ask the user to specify a region of the camera view (this is to further refine the search)."
             tooltip-placement="top"
             tooltip-trigger="mouseenter">Camera subset</h3>
                </div>
                <div class="panel-body">
                    <label ng-repeat="role in roles" class="radio-labels">
                        <input class="radio-label" type="checkbox" checklist-model="user.roles" 
                               checklist-value="role" ng-change="changedCam({{role}})" >
                        Camera {{role}}

                        </br>
                        </input>
                    </label>

                    <hr>
                </div>
            </div>
        </div>
        <div class="center-block">
                <button ng-click="render_query()" type="button" class="btn btn-success center-block glyphicon glyphicon-triangle-right" style="width:47.5%;"></button>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>
</br></br></br>

<script type="text/ng-template" id="myDateModalContent.html">


    <div class="panel panel-info">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Start date query: {{dt | date:'fullDate' }}</h3>
                    </div>

                    <div class="panel-body">
                        <!--style="display:inline-block; min-height:100px;"-->
                        <div>
                            <uib-datepicker class="date-stuff" ng-change="changeD1()" ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">End date query: {{dt2 | date:'fullDate' }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <uib-datepicker style="display:inline-block;" class="date-stuff" ng-model="dt2" class="well well-sm" datepicker-options="options2"></uib-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Start time of date 1: {{mytime | date:'shortTime' }}
                            </h3>

                        </div>

                        <div class="panel-body">
                            <uib-timepicker class="time-stuff" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>

                            <hr>

                        </div>

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Start time of date 2: {{mytime2 | date:'shortTime' }}
                            </h3>
                        </div>

                        <div class="panel-body">
                            <uib-timepicker class="time-stuff" ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>

                            <hr>

                        </div>

                    </div>
                </div>
                <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="center-block">
                    <button ng-click="ok()" type="button" class="btn btn-success center-block glyphicon-triangle-right" style="width:90%;"></button>
                </div>
            </div>
        </div>
    </div>


</script>


<script type="text/ng-template" id="myModalContent.html">

    <div class="row">
        <div class="col-md-12">
            <div id="cropping">
                <hj-cropify coords="coords" aspect-ratio="aspectRatio">
                    <div class="padding"></div>
                    <img ng-src="{{image_src}}">
                </hj-cropify>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button style="width:100%" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </div>
    

</script>
