        


<!--<div>
        <div class="wrapper">

        <hj-cropify coords="coords" aspect-ratio="aspectRatio">

            <div class="padding"></div>

            <img ng-src="../static/images/test.jpg">

        </hj-cropify>

        <ul class="controls">
            <li><button ng-click="coords = {}">Reset</button></li>
            <li>Aspect Ratio: <input type="number" ng-model="aspectRatio" min="0"></li>
        </ul>

        <pre>{{coords}}</pre>
            <p>
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                
            </p>
        </div>
        
        </div>-->
