<!--
"haircolor" : $scope.hairColor.name,
            "torsocolor" : $scope.torsoColor.name,
            "legscolor" : $scope.legsColor.name,
            "startdate" : $scope.startdate,
            "enddate" : $scope.enddate,
            "starttime" : $scope.starttime,
            "endtime" : $scope.endtime,
            "camerasubset" : $scope.user.roles,
            "boxes" : $scope.camera_box
-->
<!--<h4 ng-click="show_meta_info()">Click me</h4>-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="center-block">
                <button ng-click="logout_results()" type="button" class="btn btn-warning center-block glyphicon glyphicon-triangle-left" style="width:100%;"
                uib-tooltip="Logout and navigate to the homepage."
                tooltip-placement="top"
                tooltip-trigger="mouseenter"        
                ></button>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Hair color:
                        
                    </h3>
                </div>
                <div class="panel-body">
                    <span ng-style="{
                                'color' : query.haircolor,
                                'background-color' : query.haircolor,
                                'padding-right': '100%',
                                'padding-up': '90%'
                                }">
                    </span>
                
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Torso color: 
                        
                    </h3>
                </div>
                <div class="panel-body">
                    <span ng-style="{
                                'color' : query.torsoscolor,
                                'background-color' : query.torsocolor,
                                'padding-right': '100%',
                                'padding-up': '90%'
                                }">
                    </span>
                    
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Pants color:
                    
                    </h3>
                </div>
                <div class="panel-body">
                    <span ng-style="{
                                'color' : query.legscolor,
                                'background-color' : query.legscolor,
                                'padding-right': '100%',
                                'padding-up': '90%'
                                }">
                    </span>
                    
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Date range:</h3>
                </div>
                <div class="panel-body">
                    <p>Start: {{query.startdate_obj | date : 'fullDate'}}</p>
                    <p>End: {{query.enddate_obj | date : 'fullDate'}}</p>
                    <!--{{query.startdate_milli | date : 'medium}}-{{query.enddate_milli | date : 'medium'}}-->
                    <!--<p>{{ query.startdate * 1000 | date : 'medium'}}-{{ query.enddate * 1000 | date : 'medium'}}</p>-->
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Time range:</h3>
                </div>
                <div class="panel-body">
                    <p> Start: {{ query.starttime_obj | date : 'mediumTime' }}</p>
                    <p> End: {{ query.endtime_obj | date : 'mediumTime' }}</p>
                </div>
            </div>
            <div class="center-block">
                <button ng-click="navigate_back()" type="button" class="btn btn-success center-block" style="width:100%;">
                    New query:
                </button>
            </div>
        </div>
        <div>
            <div class="col-sm-8" data-spy="scroll" data-target="#myNavbar" data-offset="50">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <nav class="navbar navbar-inverse">
                            <div class="container-fluid">
                                <div>
                                    <div class="collapse navbar-collapse" id="myNavbar">
                                        <ul class="nav navbar-nav">
                                            <li ng-repeat="e in navbar_elements track by $index">
                                                <a ng-click="goTo(e.id_to_jump)">
                                                    {{e.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    
                    <div id="testlink"></div>
                    <div class="panel-body" id="carousels">
                        <div ng-repeat="cam in cameras track by $index">
                            <h1 ng-if="results_data[cam].length == 0">No results for camera: {{cam}}</h1>
                            
                            <div class="jumbotron" ng-if="results_data[cam].length > 0">
                                <div class="container">
                                    <nav class="navbar navbar-default">
                                        <div class="container-fluid">
                                            <div>
                                                <div class="collapse navbar-collapse" id="myNavbar">
                                                    <ul class="nav navbar-nav">
                                                        <li ng-repeat="item in results_data[cam]">
                                                            <a ng-click="GetDetails(item, cam);">
                                                            {{item.day}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                    <div>
                                        <uib-carousel>
                                            <uib-slide ng-repeat="img in details[cam].actual_list" active="img.active">

                                                <img ng-src="{{img.path}}" ng-click="show_meta_info(img.path, img.score)">
                                                </img>
                                                
                                            </uib-slide>
                                        </uib-carousel>
                                        </br>
                                        <rzslider rz-slider-model="details[cam].slider.min" rz-slider-high="details[cam].slider.max" rz-slider-options="details[cam].slider.options"></rzslider>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</br></br></br></br>


<script type="text/ng-template" id="myMetaModalContent.html">

    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1>Score: {{meta_score | number}}</h1>
                </div>
                <div class="panel-body">
                    <img ng-src="{{meta_path}}">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    

</script>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>



