<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>
          
    <!-- Bootstrap core CSS -->
    <link href="../static/third_party/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/third_party/css/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>    
      
    <!-- Custom styles for this template -->
    <link href="{% static "./style_sheets/navbar.css" %}" rel="stylesheet">
    <link href="../static/style_sheets/style.css" rel="stylesheet" media="screen"/>
    <link href="{% static "./style_sheets/grid.css" %}" rel="stylesheet">
    <link href="{% static "./style_sheets/signin.css" %}" rel="stylesheet">
    
    <!--Growl dependencies-->
    <script src="../static/js/angular-growl.min.js"></script>
    <link href="{% static "./style_sheets/angular-growl.min.css" %}" rel="stylesheet">
    
    <!-- Controllers -->
    <script src="{% static "js/app.js" %}" type="text/javascript"></script>  
    <script src="{% static "js/controllers/indexController.js" %}" type="text/javascript"></script>
    <script src="{% static "js/controllers/surveyController.js" %}" type="text/javascript"></script>
    
  </head>

  <body ng-app="main" style='background-color: #e3e3e3;'> 
    <div growl></div>
        {% verbatim %}
        <div ng-controller="indexController">
        <div class="container">
            <div ng-show="show_input_form" class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-push-3" style="background-color: #e3e3e3; border-color: #e3e3e3;">
                        <h1 style="text-align: center;">Please take this survey</h1>
                        <p class="lead">By taking this survey you are contributing to a dataset used for training a color classifier.</p>
                        <div class="box-content">
                            <h4 style='text-align: center;'>Number of survey questions: 
                                <select ng-model="num_questions" ng-options="num for num in question_options">
                                    <option value="">----</option>
                                </select>
                            </h4>
                        </div>
                        <div class="box-content">
                            <h4 style='text-align: center;'>Color scheme: 
                                <select ng-model="color_scheme" ng-options="color.name for color in color_schemes">
                                    <option value="">----</option>
                                </select>
                            </h4>
                        </div>
                    </div>
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Enter your name</h2>
                        <label for="inputEmail" class="sr-only">Name</label>
                        <input ng-model="user_name" id="inputEmail" class="form-control" placeholder="User name" required autofocus>
                        <button ng-click="startSurvey()" class="btn btn-lg btn-primary btn-block" type="submit">Begin survey</button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    {% endverbatim %}
    <div ng-view></div>
  </body>
</html>
