.carousel-indicators {
  bottom:-300px;
}

body {
    background-color: lightgray;
}

select {
    display: block;
    margin: 0 auto;
}


#main_c {
    width: 50%;
    margin: 0 auto; 
}

#content {
    width: 100%;
    margin: 0 auto;
    background-color: ghostwhite;
}

button {
    width: 100%;
    margin: 0 auto;
}
