* {
	box-sizing: border-box;
}

#cropping.body {
	font-family: Helvetica, sans-serif;
	position: absolute;
	font-size: 10px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 5% 25%;
}

.spacer {
	width: 100%;
	height: 150%;
}

.wrapper {
	/*position: absolute;
	top: 50%;*/
	position: fixed;
	top: 5%;
	left: 25%;
	right: 25%;
	bottom: 5%;
}

.padding {
	position: relative;
	width: 100%;
	padding-top: 75%;
	z-index: 0;
}

.hj-cropify img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;
}

#cropping.ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#cropping.li {
	display: inline-block;
	margin: 10px 10px 0 0;
	cursor: pointer;
}

#cropping.pre {
	font-size: 10px;
}
    

