<!DOCTYPE html>

{% load static %}
<html lang="en">
    
    <head>
    
        
    <!-------------------For the signin page---------------------------------->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="../static/signin.css" rel="stylesheet">

    <!------------------------------------------------------------------------>
        
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
        
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/0.3.3/ng-table.min.js"></script>
    
        
    <!-------Slider---------->    
    <link rel="stylesheet" type="text/css" href="../static/rzSlider/rzslider.css"/>
    <script src="../static/rzSlider/rzslider.min.js"></script>    
    
        
    <!------Loading bar------>
    <script src="../static/loadingbar/ngProgress.js"></script>
    <link rel="stylesheet" href="../static/loadingbar/ngProgress.css">
            
    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-theme.min.css" rel="stylesheet" media="screen"/>
                
    <!--Growl dependencies-->
    <script src="../static/angular-growl.min.js"></script>
    <link href="../static/angular-growl.min.css" rel="stylesheet" media="screen"/>
        
    <!-- Controllers -->
    <script src="{% static "js/app.js" %}" type="text/javascript"></script>
    <script src="{% static "js/controllers/signin_controller.js" %}" type="text/javascript"></script>
    <script src="{% static "js/controllers/input_controller.js" %}" type="text/javascript"></script>
    <script src="{% static "js/controllers/modal_controller.js" %}" type="text/javascript"></script>
    <script src="{% static "js/controllers/results_controller.js" %}" type="text/javascript"></script>
        
    <!--<script src="{% static "signin.css" %}" type="stylesheet"></script>-->
    
    
    <!------Modals------->
        
        
    <!-----Slider code------>

    <!--------Carousel---------->
    <link href="../static/css/full-slider.css" rel="stylesheet">
        
        
    <!----Cropping tool-------->
    <link rel="stylesheet" type="text/css" href="../static/croppingtool/angular-cropify.css">
    <link rel="stylesheet" type="text/css" href="../static/croppingtool/example/styles.css">
        
    <link href="../static/view/modal_view.html">
        
    <script type="text/javascript" src="../static/croppingtool/angular-cropify.js"></script>
        
    
        
        
    </head>
    
    <body ng-app="main" ng-style="bodyStyle">
                
        <div growl></div>
        
        {% verbatim %}
        <div ng-show="hide_login">
            <div ng-controller="signin_controller">

                <div class="container">

                    <form class="form-signin">


                    <h2 class="form-signin-heading">Welcome to the SSCP</h2>
                    <label for="inputEmail" class="sr-only">Name</label>
                    <input ng-model="user_n" id="inputEmail" class="form-control" placeholder="User name" required autofocus>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input ng-model="p_word" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="receive_login()">Sign in</button>
                    </form>

                </div>
                <div class="container">
                    <center><h3 class="ex">The SSCP allows video operators to perform video searches based on colour assignmetns to the head, torso and legs of a target.</h3></center>
                </div>

            </div>
        </div>
        
        
        </br></br></br>
        
        {% endverbatim %}
        
    <div ng-view></div>    
    </body>
    
</html>