body {
    font-family: "Open Sans","Helvetica Neue", Helvetica,Arial, sans-serif;
    background: url('./s4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h3.ex {
    height: 600px;
    width: 500px;
}

.md-button {
  color : currentColor;
}
.md-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}
.md-button[disabled] {
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}

.wrapper {
    text-align: center;
}


#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}


.radio-label {
    display: inline-block;
    vertical-align: top;
    margin-right: 100%;
}

.radio-input {
   display: inline-block;
    vertical-align: top;
}

fieldset {
    text-align: center;
}

#carousels {
    height : 600px;
    overflow-y: scroll;
}

body {
    position: relative;
}

#section1 {padding-top:50px;height:500px;overflow-y: scroll;}
#section2 {padding-top:50px;height:500px;overflow-y: scroll;}
#section3 {padding-top:50px;height:500px;overflow-y: scroll;}

.im-centered { margin: auto; max-width: 300px;}

.date-stuff {
    width:100px; 
    margin-left: 10px; 
    margin-right: 10px;
    padding-bottom: 10%;
}

.time-stuff {
    width:50px; 
    margin-left:auto; 
    margin-right:auto;
    position: relative;
}


.carousel-indicators li { visibility: hidden; }