<div class="container">
    <div class="page-header">
        <h1>Please refer to the color patch below</h1>
        <p class="lead">Assign a colour category to match the patch by clicking on one of the buttons.</p>
    </div>
    <div class="row">
        <div class="twelve columns text-center"><br />
            <figure>
                <!--src="../static/105.png"-->
                <img ng-src="{{imageSource}}" style="width:600px;height:100px;" alt="slide image">
                <figcaption>Image number: {{index}} / {{totalImages}}</figcaption>
            </figure>
        </div>
        <br>
        <table style="width:100%">
            <tr>
                <tr>
                    <td></td>
                    <td><button ng-click="nextColor('White')" class="btn btn-default" >White</button></td>
                    <td><button ng-click="nextColor('Gray')" class="btn btn-default">Gray</button></td>
                    <td><button ng-click="nextColor('Black')" class="btn btn-default">Black</button></td>
                    <td><button ng-click="nextColor('Yellow')" class="btn btn-default">Yellow</button></td>
                    <td><button ng-click="nextColor('Orange')" class="btn btn-default">Orange</button></td>
                    <td><button ng-click="nextColor('Pink')" class="btn btn-default">Pink</button></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button ng-click="nextColor('Red')" class="btn btn-default">Red</button></td>
                    <td><button ng-click="nextColor('Green')" class="btn btn-default">Green</button></td>
                    <td><button ng-click="nextColor('Blue')" class="btn btn-default">Blue</button></td>
                    <td><button ng-click="nextColor('Purple')" class="btn btn-default">Purple</button></td>
                    <td><button ng-click="nextColor('Brown')" class="btn btn-default">Brown</button></td>
                    <td><button ng-click="nextColor('Beige')" class="btn btn-default">Beige</button></td>
                    <td><button ng-click="nextColor('Skip')" class="btn btn-default">Skip</button></td>
                </tr>
            </tr>
        </table>
    </div>
</div>

<div class="container">
  <div id="dummyModal" role="dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">&times;</button>
          <h4 class="modal-title">Thank you</h4>
        </div>
        <div class="modal-body">
          <p>Your time has been valuable to my project.</p>
        </div>
        <div class="modal-footer">
          <button ng-click="relocateHome()" type="button" data-dismiss="modal" class="btn btn-default">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>    